<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">
<title>badge</title>
</head>

<body>
  <div class="container pt-10">

    <!-- your code here... -->
    <div class="row">
      <span class="badge bg-secondary">new</span>
      <span class="badge badge--primary">本月主打</span>
      <span class="badge bg-blue">點數限定</span>
      <span class="badge bg-series-BS">巴士系</span>
      <span class="badge bg-series-EN">工程車系</span>
      <span class="badge bg-series-TA">計程車系</span>
      <span class="badge bg-series-EM">消防救護系</span>
      <span class="badge bg-series-PM">PREMIUM系</span>
      <span class="badge bg-series-PA">警車系</span>
      <span class="badge bg-series-RV">RV休旅系</span>
      <span class="badge bg-series-CA">轎車系</span>  
    </div>
    <div class="row mb-5">
      badge / badge badge--primary / badge bg-blue / badge bg-series-BS
    </div>
    <div class="row mb-5">
      <div class="carID bg-series-BS">BS<span>01</span></div>
      <div class="carID bg-series-EN">EN<span>01</span></div>
      <div class="carID bg-series-TA">TA<span>01</span></div>
      <div class="carID bg-series-EM">EM<span>01</span></div>
      <div class="carID bg-series-PM">PM<span>01</span></div>
      <div class="carID bg-series-PA">PA<span>01</span></div>
      <div class="carID bg-series-RV">RV<span>01</span></div>
      <div class="carID bg-series-CA">CA<span>01</span></div>
    </div>
    <div class="row mb-5">
      <div class="carID carID--md bg-series-BS">BS<span>01</span></div>
      <div class="carID carID--md bg-series-EN">EN<span>01</span></div>
      <div class="carID carID--md bg-series-TA">TA<span>01</span></div>
      <div class="carID carID--md bg-series-EM">EM<span>01</span></div>
      <div class="carID carID--md bg-series-PM">PM<span>01</span></div>
      <div class="carID carID--md bg-series-PA">PA<span>01</span></div>
      <div class="carID carID--md bg-series-RV">RV<span>01</span></div>
      <div class="carID carID--md bg-series-CA">CA<span>01</span></div>
    </div>
    <div class="row">
      <div class="carID carID--lg bg-series-BS">BS<span>01</span></div>
      <div class="carID carID--lg bg-series-EN">EN<span>01</span></div>
      <div class="carID carID--lg bg-series-TA">TA<span>01</span></div>
      <div class="carID carID--lg bg-series-EM">EM<span>01</span></div>
      <div class="carID carID--lg bg-series-PM">PM<span>01</span></div>
      <div class="carID carID--lg bg-series-PA">PA<span>01</span></div>
      <div class="carID carID--lg bg-series-RV">RV<span>01</span></div>
      <div class="carID carID--lg bg-series-CA">CA<span>01</span></div>
    </div>

  </div>
</body>

</html>