<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
</head>

<body>
    <div class="container">
        <section class="block mb-10">
            <header class="block__header">
                <h2 class="block__header__title">
                    購買明細
                </h2>
            </header>
            <div class="block__body">
                <h3>元件搭配通用class寫法，哪邊要切元件，不同頁面重複出現</h3>
            </div>
        </section>

        <section class="block">
            <nav class="block__header block__header--nav">
                <ul class="d-flex mb-md-4">
                    <li class="mr-20 mr-md-15 mr-sm-10"><a href="#" class="block__header__title">全部圖鑑</a></li>
                    <li><a href="#" class="block__header__title">我的圖鑑</a></li>
                </ul>
                <div class="ml-auto w-md-100 text-right">
                    <button class="btn btn--link text-coffee mr-8 mr-sm-1">關鍵字搜尋</button>
                    <button class="btn btn--outline mr-8 mr-sm-1">重置</button>
                    <button class="btn">搜尋</button>
                </div>
            </nav>
            <div class="block__body"></div>
        </section>
    </div>
</body>

</html>