<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">
<title>Button</title>
</head>

<body>
  <div class="container">


    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn -->
        <button class="btn">新增地址</button>
        <!---->
        <span class="ml-20 h2">btn</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn -->
        <button class="btn">完成</button>
        <!---->
        <span class="ml-20 h2">btn</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <button class="btn">熱門商品</button>
        <span class="ml-20 h2">btn</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg6 col-sm-4">
        <button class="btn">確定</button>
        <span class="ml-20 h2">btn</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg6 col-sm-4">
        <button class="btn">儲存</button>
        <span class="ml-20 h2">btn</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--outline-->
        <button class="btn btn--outline"><img src="../img/icon/icon-double-left.svg" class="icon"> 重做一輛</button>
        <!---->
        <span class="ml-20 h2">btn btn--outline</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--outline-->
        <button class="btn btn--outline">加入收藏</button>
        <!---->
        <span class="ml-20 h2">btn btn--outline</span>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--ghost" -->
        <button class="btn btn--ghost">取消</button>
          <!---->
          <span class="ml-20 h2">btn btn--ghost</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--disabled -->
        <button class="btn btn--disabled">請先登入</button>
         <!---->
         <span class="ml-20 h2">btn btn--disabled</span>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--link -->
        <button class="btn btn--link">回覆</button>
         <!---->
         <span class="ml-20 h2">btn btn--link</span>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--link text-secondary -->
        <button class="btn btn--link text-secondary">收藏</button>
         <!---->
         <span class="ml-20 h2">btn btn--link text-secondary</span>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col-12 col-lg-6 col-sm-4">
        <!-- btn btn--small -->
        <button class="btn btn--small">留言</button>
          <!---->
          <span class="ml-20 h2">btn btn--small</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-6 col-lg-3 col-sm-2">
        <button class="btn btn--fluid">確認付款</button>
        <span class="ml-20 h2">btn btn--fluid</span>
      </div>

      <div class="col-6 col-lg-3 col-sm-2">
        <button class="btn btn--fluid">確認結帳</button>
        <span class="ml-20 h2">btn btn--fluid</span>
      </div>
    </div>

    <div class="row mt-10 mb-10">

      <div class="col-6 col-lg-3 col-sm-2">
        <button class="btn btn--fluid">加入購物車</button>
      </div>
      <div class="col-6 col-lg-3 col-sm-2">
        <button class="btn btn--fluid btn--outline">加入收藏</button>
      </div>
      <div class="col-6 col-lg-3 col-sm-2">
        <span class="h2">btn btn--fluid</span>
      </div>
      <div class="col-6 col-lg-3 col-sm-2">
        <span class="h2">btn btn--fluid btn--outline</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-6 col-lg-3 col-sm-2">
        <button class="btn btn--fluid btn--disabled">加入購物車</button>
        <span class="h2">btn btn--fluid btn--disabled</span>
      </div>
    </div>

    <div class="row mb-10">
      <div class="col-3 col-lg-3 col-sm-3">
        <button class="btn btn--fluid btn--outline">加入購物車</button>
        <span class="ml-20 h2">btn btn--fluid btn--outline</span>
      </div>
    </div>

    <button class="btn btn--circle">1</button>

  </div>
</body>

</html>