<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">
<title>Document</title>
</head>

<style>


</style>

<body>
  <div class="container pt-10">
    <ul class="row">
      <li class="col-3 col-xl-4 col-lg-3 col-sm-4">
        <!--card-->
        <a href="#" class="card">
          <div class="card__header">
            <img src="https://fakeimg.pl/992x744/">
            <div class="card__carID bg-series-BS">BS<span>01</span></div>
            <span class="card__label">本月主打</span>
          </div>
          <div class="card__body">
            <h2 class="card__title">凱迪拉克·埃爾多拉多</h2>
            <div class="card__details">
              <p class="card__price">NT$ 195</p>
              <button class="card__link">收藏</button>
            </div>
          </div>
          <button class="btn btn--fluid btn--outline">加入購物車</button>
        </a>
        <!---->
      </li>
      <li class="col-3 col-xl-4 col-lg-3 col-sm-4">
        <!--card-->
        <a href="#" class="card">
          <div class="card__header">
            <img src="https://fakeimg.pl/992x744/">
            <span class="card__label card__label--blue">點數限定</span>
          </div>
          <div class="card__body">
            <h2 class="card__title">凱迪拉克·埃爾多拉多</h2>
            <div class="card__details">
              <p class="card__price">NT$ 195</p>
              <button class="card__link">收藏</button>
            </div>
          </div>
          <button class="btn btn--fluid btn--outline">加入購物車</button>
        </a>
        <!---->
      </li>
    </ul>
  </div>


</body>

</html>