<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/all.css">

<title>input</title>
</head>

<body>
  <div class="container">

<!-- your code here... -->
<div class="row">
  <div class="col-6 col-lg-3 col-sm-2">
    <div class="input-box">
      <span class="input-mark">input-success</span>
        <input class="input-green" placeholder="王曉明">

    </div>
  </div>
  <!-- <div class="row"> -->
  <div class="col-6 col-lg-3 col-sm-2">
    <div class="input-box"> 
      <span class="input-mark">input-error</span>
        <input class="input-red" placeholder="李曉華">
    </div>
  </div>
  <!-- </div> -->
  <!-- <br> -->
  <!-- <div class="row"> -->
  <div class="col-6 col-lg-3 col-sm-2">
    <div class="input-box"> 
      <span class="input-mark">input-space</span>
        <input class="input-gray" placeholder="張小生">
    </div>
  </div>
  <!-- <div class="row"> -->
  <div class="col-6 col-lg-3 col-sm-2">
    <div class="input-box"> 
      <span class="input-mark">input-blue</span>
        <input class="input-blue" placeholder="顏小傑">
    </div>
  </div>
  
  <!-- <div class="row"> -->
  <div class="col-6 col-lg-3 col-sm-2">
    <div class="input-box"> 
            確認密碼:
        <input class="input-check" placeholder="請輸入0~16位英數字">
    </div>
  </div>





  </div>
  </div>
</body>

</html>