
$flexList : (
    'wrap' : wrap,
    'column' : column,
    'reverse' : reverse);


@each $key,$val in $flexList {
    .flex-#{$key} {
        flex-direction: flex-#{$val};
    }
}


$justifyList : (
    'center' : center,
    'between' : space-between,
    'around' : space-around,
    'end' : flex-end);


@each $key,$val in $justifyList {
    .justify-content-#{$key} {
        justify-content: #{$val};
    }
}


$alignItemsList : (
    'center' : center,
    'stretch' : stretch,
    'start' : flex-start,
    'end' : flex-end);

@each $key,$val in $alignItemsList {
    .align-items-#{$key} {
        align-items: #{$val};
    }
}

@include rwd-md {

    .flex-md {
        &-wrap {
            flex-wrap: wrap;
        }

        &-column {
            flex-direction: column;
        }
    }

    .order-md-1 {
        order: -1;
    }
}


@include rwd-sm {
    .flex-sm-column {
        flex-direction: column;
    }
    .order-sm-1 {
        order: -1;
    }
}