.logo {
    background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true')no-repeat center center / cover;
    @include text-hide;
    @include size(128px, 38px);

    &--white {
        background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true')no-repeat center center / cover;
    }
}

.icon-close{
    @include size(52px,52px);
}

.icon{
    display: inline-block;
    @include size(16px, 16px);
    @include rwd-md{
        @include size(12px, 12px);
    }

}
