.input-success{
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--red-danger);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AC0404;
    border-radius: 4px;
    opacity: 1;
}